/* HEADER */
:root {
  --sidepadding: 20px 115px;
  --minsidepadding: 20px 40px;

  --orange:#EC5625;
  --yellow: #EED26D;
  --blue: #3462AE;
  --grey: #DED9E1;

}

.sidepad {
  padding: var(--sidepadding);
}

.rectcard {
  min-width: 300px;
  min-height: 400px;
}

@media only screen and (max-width: 768px) {
  .sidepad {
    padding: var(--minsidepadding);
  }

  .rectcard {
    min-width: 400px;
    min-height: 300px;
  }
}

h2 {
  font-size: calc(32px + 0.5vw);
  letter-spacing: 0.05em;
}

.button {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.5rem;
  background: var(--yellow);
  border-radius: 15px;
  border: transparent;
}

.button > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
}
/* Hero */
div.hero {
  min-height: 500px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(25px + .5vw);
}


div.hero__text > h1 {
  font-weight: 900;
  font-size: calc(45px + 2vw);
  line-height: 1.5;
  background: linear-gradient(267.3deg, var(--blue) 28.15%, var(--orange) 102.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

div.hero__text > p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
  max-width: 550px;
}



div.hero > img {
  width: calc(400px + 5vw);
}

/* Legend */

.legend {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--orange);
}

.legend > p {
  text-align: justify;
  padding: 10px 0;
  font-size: calc(16px + .2vw);
  letter-spacing: 0.05em;
}

/* Navmap */
.navmap {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: var(--yellow);
}

.navmap > img{
  width: 80vw;
}

.navmap > h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.07em;
}

/* Destination section*/
.desti {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.dest__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.07em;
}

/* DestCard */
.destcard {
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(4.26deg, #3462AE 4.38%, rgba(52, 98, 174, 0) 84.86%), var(--img);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
}

/* Testimonials */

.testimonial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial__card {
  max-width: 1280px;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.testimonial__card > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__card > div > p#message {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
}

.testimonial__card > div > p#name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
}
/* CTA */
.cta {
  display: flex;
  padding: 60px 50px;
  margin: var(--sidepadding);
  background: var(--blue);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cta > h2 {
  font-weight: 600;
  width: 60%;
  font-size: calc(24px + .5vw);
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #FFFFFF;
}

/* Footer */
footer {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > p {
  font-size: 10px;
}

